.circle-infos {
  display: flex;
  justify-content: space-between;
}

.your-circle h1 {
  color: $primary-color;
  margin-bottom: 15px;
}

.add-button {
  .fa-solid {
    color: $primary-color;
  }
}

#circle-index-img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  margin-top: 65px;
}

#circle-list-container {
  margin: 0 20px auto 20px;
}

#circle-name-and-count {
  margin-top: 10px;
}

.little-container {
  background-color: $rectangle-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  height: 82px;
}

.member-infos .avatar {
  height: 50px;
  width: 50px;
  border: 1px solid white;
}

.member-infos .avatar:not(:first-child) {
  margin-left: -25px;
}
