.circle-name h1 {
  text-decoration: underline;
}

.circle-name {
  .fa-solid {
    color: $primary-color;
    font-size: x-large;

    &:hover {
      color: $primary-color;
    }
  }
}

.circle-name-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-add-member {
  a{
    .fa-solid {
      color: $primary-color;
      // position: absolute;
      // right: 0px;
    }
  }

}

.circle-member-container {
  position: relative;
  background-color: $rectangle-color;
  min-height: 160px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 30px 25px 15px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

// .visio-circle {
//   position: absolute;
//   top: 10%;
//   left: 3%;
//   color: $primary-color;

//   &:hover {
//     color: $primary-color;
//   }
// }

.exit-circle {
  position: absolute;
  top: 10%;
  right: 3%;
  color: $primary-color;
  font-size: x-large;

  &:hover {
    color: $primary-color;
  }
}

.circle-member-info {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.delete-member {
  .fa-solid {
    color: $primary-color;
  }
}

.recipe-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-circle-name h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: $primary-color;
  text-decoration: underline;
  // position: relative;
}

.fa-solid.fa-circle-xmark {
  margin-top: 25px;
  margin-bottom: 25px;
  color: $primary-color;
}
.clr-primary {
  color: $primary-color;
}

.circle-recipes-card {
  position: relative;
}

.delete-recipe-icon {
  position: absolute;
  top: 3px;
  right: 8px;
  color: $primary-color;
}

.footer-circle {
  background-color: white;
  border-top: 1px solid $primary-color;
  position: sticky;
  height: 75px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: auto;
  margin-bottom: 10px;
  justify-items: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
