.circle-name h1 {
  text-decoration: underline;
}

.circle-name-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-add-member {
  a{
    .fa-solid {
      color: $primary-color;
    }
  }

}

.circle-member-container {
  background-color: $rectangle-color;
  height: 140px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px 25px 15px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.circle-member-info {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.delete-member {
  .fa-solid {
    color: $primary-color;
  }
}


.recipe-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-circle-name h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: $primary-color;
  text-decoration: underline;
}

.recipe-circle {
  .fa-solid {
    margin-top: 25px;
    margin-bottom: 25px;
    color: $primary-color;
  }
}
