.icon-color {
  color: $primary-color;
}

.container-circle {
  margin: 15px 20px auto 20px
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modify-input {
  height: 52px !important;
  background-color: white !important;
  border-radius: 10px !important;
  border: none !important;
  border-bottom: 1px solid $second-color !important;
  text-transform: capitalize !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 30px !important;
}

.custom-input select{
  height: 52px !important;
  background-color: white !important;
  border-radius: 10px !important;
  border: none !important;
  border-bottom: 1px solid $second-color !important;
  text-transform: capitalize !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
}

.modify-label {
  font-weight: bold;
  text-decoration: none;
}

.modify-button {
  border: none;
  background-color: transparent;
  margin-left: 15px;
}

.friends-banner {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-top: 65px;
}

.user-input {
  width: 200px;
  font-weight: bold;
}

.title-circle {
  margin-bottom: px;
}
