.banner-homepage-circle {
  width: 100%;
  height: 288px;
  object-fit: cover;
  margin-top: 35px;
}

.event-container {
  margin: 20px 20px auto 20px;
}

.title-events {
  display: flex;
  justify-content: left;
  color: $primary-color;

  .fa-bell {
    margin-right: 20px;
  }

  h2 {
    margin-bottom: 0;
  }

  i {
    display: flex;
    align-items: center;
  }


}

.little-container {
  re
  li {
    list-style: none;
    width: 100%;
    font-size: small;
  }
}

.notif-container {
  margin: 20px 20px 0 20px;

  ul {
    padding-left: 0;
  }
}

.time {
  border-bottom: 1px solid $second-color;
  margin-bottom: 10px;
  font-style: italic;
}
