.banner-homepage-circle {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  width: 100%;
  height: 900px;
  object-fit: cover;
  flex-direction: column;
  // background-position: center;
  background-position: bottom;

  span {
    font-family: $title-homepage;
    font-size: 50px;
  }

  h1 {
    color: white;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 0px;
  }

}

.event-container {
  margin: 50px 20px auto 20px;
  display: flex;
}

.title-events {
  display: flex;
  justify-content: left;
  color: white;

  .fa-bell {
    margin-right: 20px;
  }

  h2 {
    margin-bottom: 0;
  }

  i {
    display: flex;
    align-items: center;
  }


}


li.event-list {
  list-style: none;
  width: 100%;
}


.notif-container {
  margin: 15px 20px 0 20px;

  ul {
    padding-left: 0;
    margin: auto auto;
    bottom: 23px;
    opacity: 0.9;
  }

  .little-container {
    background-color: $rectangle-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    height: 83px;
  }
}

.time {
  border-bottom: 1px solid $second-color;
  margin-bottom: 10px;
  font-style: italic;
}


.container-homepage-2 {
  margin-top: 35px;
}
