.img-banner {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.recipe-infos {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.creator-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-orange {
  background-color: $rectangle-color;
  width: calc(100vw - 1rem);
  padding: 2rem;
}

.symbol ul li {
  margin-bottom: 15px;
  list-style: none;
}

.symbol {
  .fa-solid {
    color: $primary-color;
  }
}

.ingredient h3 {
  text-decoration: underline;
}

.instruction h3 {
  text-decoration: underline;
}

.search-input {
  border-bottom: 1px solid #6A994E !important;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25) !important;
}

.input-add {
  width: 350px
}

.comment-container {
  margin: 15px 20px auto 20px;

  h2 {
    color: $primary-color;
  }

  .button-green {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .fa-lg {
    color: $primary-color;
    padding-right: 10px;
  }

  li {
    list-style: none;
  }

  ul {
    padding-left: 0;
  }

  small {
    display: flex;
    justify-content: right;
  }
}

#comment_content {
  height: 52px !important;
  background-color: white !important;
  border-radius: 10px !important;
  border: none !important;
  border-bottom: 1px solid #6A994E !important;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25) !important;
}

.comment-description {
  background-color: #FFF7ED !important;
  border-radius: 10px !important;
  // box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25) !important;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  padding-left: 20px !important;
  margin-bottom: 20px;
}

.comment-date {
  width: 100%;
  text-align: center;
}
