.img-banner {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.recipe-infos {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.container-orange {
  background-color: $rectangle-color;
  width: calc(100vw - 1rem);
  padding: 2rem;
}

.symbol ul li {
  margin-bottom: 15px;
  list-style: none;
}

.symbol {
  .fa-solid {
    color: $primary-color;
  }
}

.ingredient h3 {
  text-decoration: underline;
}

.instruction h3 {
  text-decoration: underline;
}
