.recipe-index-container {
  h2, h3 {
    color: $primary-color;
  }

  h2 {
    text-decoration: underline;
    margin-top: 20px;
  }
}

.recipe-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe-link {
  color: white;
}

.recipe-link:hover {
  color: $primary-color;
}

.cookie-icon {
  display: inline-block;
  position: relative;

  .fa-solid {
    font-size: 20px;
    color: $primary-color;
  }

  .fa-plus {
    position: absolute;
    top: -3px;
    right: -5px;
    font-size: 10px;
  }
}

.no-recipes {
  margin: 20px 0 35px 0;
  text-align: center;

  p {
    font-size: 20px;
  }
}

#no-recipes-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.test {
  background: $primary-color;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
}
