.img-banner {
  height: 200px;
  width: 100%;
}

.recipe-infos {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  margin: 10px 15px 10px 15px;
}

.container {
  background-color: $rectangle-color;
  margin-right: 15px;
  margin-left: 15px;
}
