<div class="banner">
  <img class="img-banner" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="image">
</div>


<div class="recipe-infos">
  <div class="infos">
    <h2>Rasberry Brownie</h2>
    <p>Time preparation <br>50minutes</p>
  </div>

  <div class="creator-infos">
    <p>Creator</p>
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  </div>
</div>


<div class="container">
  <div class="ingredient">
    <h3>Ingredients</h3>
      <ul>
        <li>4 eggs</li>
        <li>200gr of sugar</li>
        <li>200gr of</li>
        <li>4tbs of flour</li>
        <li>500gr of Rasberry</li>
      </ul>
  </div>
  <div class="instruction">
    <h3>Instruction</h3>
      <ul>
        <li>Beat the eggs and sugar together</li>
        <li>Add the melted butter</li>
        <li>Add the flour spoon by spoon and mix in between each</li>
        <li>Bake at 180C for 20 minutes</li>
      </ul>
  </div>
  <div class="symbol">
    <ul>
      <li></li>
    </ul>
  </div>
</div>
