<%= content_for(:color) { 'navbar-white'} %>
<img class="banner-homepage-circle" src="https://images.unsplash.com/photo-1657299170937-3c87404f01c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="friends share food">
<div class="main-container">
  <div class="d-flex justify-content-left align-items-center">
    <i class="fa-solid fa-bell fa-lg mt-2"></i>
    <h2>Recent Events</h2>
  </div>
</div>
