<div class="homepage-content">
  <h1>Welcome <%= "#{current_user.first_name}" %> to <span>Family Recipe</span></h1>
</div>
<div class="homepage-content">
  <%= link_to "Create a circle", new_circle_path, class: 'button-orange' %>
</div>
<div class="homepage-content">
  <%= link_to "My recipes", recipes_path, class: 'button-orange' %>
</div>
