  <div class="homepage-img">
    <div class="container-homepage">
      <% if user_signed_in?%>
        <%= render "homepage_no_circle", event: @event %>
      <% else %>
        <div class="homepage-content d-flex align-items-center">
          <%= link_to 'Log in',  new_user_session_path, class: 'button-orange'%>
        </div>
      <% end %>
    </div>
  </div>
