<%# <div class="homepage-centered"> %>
  <div class="homepage-img">
    <div class="container-homepage">
        <div class="homepage-content title-homepage">
          <h1>Welcome <%= "#{current_user.first_name}" %> to Family Recipe </h1>
        </div>
        <div class="homepage-content">
          <%= link_to "Create circle", new_circle_path, class: 'button-orange' %>
        </div>
        <div class="homepage-content">
          <%= link_to "My recipes", recipes_path, class: 'button-orange' %>
        </div>
    </div>
  </div>
<%# </div> %>
