.button-green {
  background-color: $second-color;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  height: 52px;
  width: 218px;
}


.button-orange {
  background-color: $primary-color;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  height: 52px;
  width: 218px;
}
