.button-green {
  background-color: $second-color;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  height: 52px;
  width: 218px;
  text-align: center;
  border: 0;
}
.button-green-small {
  background-color: $second-color;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  text-align: center;
  border: 0;

}

.button-orange {
  background-color: $primary-color;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  height: 52px;
  width: 218px;
  text-align: center;
  border: 0;
}

.write-recipe-button {
  margin-top: 20px;
}

#inspiration-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
