// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "cards";
@import "search";
@import "container";

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20;
  font-weight: normal;
}

h4 {
  font-size: 18;
  font-weight: bold;
}

a {
  text-decoration: none;
}

body {
  background: white;
}
