// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "cards";
@import "search";

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 20;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 18;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
