.navbar-familyrecipe {
  justify-content: space-between;
  background: #FC913A;
}

.navbar-familyrecipe .navbar-collapse {
  flex-grow: 0;
}

.navbar-familyrecipe .navbar-brand img {
  width: 40px;
}

.nav-content {
  color: white;
  display: inline-block;
}

.fa-house {
  color: white;
}

.navbar-content {
  margin: Opx 20px;
}
