.container-navbar {
  background: $primary-color;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 100;

  ul {
    padding-left: 0px;
  }

  li {
    list-style: none;
  }
}

.navbar-content {
  color: inherit;
  display: flex;
  align-items: center;
}

.fa-house {
  color: inherit;
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  margin: auto 20px auto 20px;

  .menu-action {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: table;

      i {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

}

// change the background color and color for differents pages

.navbar-white {
  background-color: white;
  color: $primary-color;

  .navbar-white:hover {
    color: $primary-color;
  }

  .navbar-content:hover {
    color: $primary-color;
  }
}

.navbar-orange {
  background-color: $primary-color;
  color: white;

  .navbar-white:hover {
    color: white;
  }

  .navbar-content:hover {
    color: white;
  }
}

.toggle-img {
  position: relative;

  .toggle-div {
    position: absolute;
    top: 50px;
    right: 150px;
  }
}
