.recipe-search-container {
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.recipe-search {
  position: relative;
  width: 275px;
}

.search-input-field {
  height: 52px;
  background-color: white;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid $primary-color;
}

.search-bar-button {
  border: none;
  color: black;
  background-color: transparent;
  position: absolute;
  right: 5px;
  bottom: 25%;
}
