.recipe-search-container {
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 20px 0;
}

.recipe-search {
  position: relative;
  width: 275px;
}

.search-input-field {
  height: 52px;
  background-color: white;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid $second-color;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
}

.search-input-field:focus {
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid $second-color;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.search-bar-button {
  border: none;
  color: black;
  background-color: transparent;
  position: absolute;
  right: 5px;
  bottom: 25%;
}
