.recipe-search {
  position: relative;
  display: inline-block !important;
  width: 275px;
  margin: 0 auto;
}

.search-input-field {
  height: 52px;
  // width: 100%;
  background-color: white;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid $primary-color;
}

.search-bar-button {
  border: none;
  color: black;
  background-color: transparent;
  position: absolute;
  right: 5px;
  bottom: 25%;
}
