.recipe-search {
  position: relative;
  width: 275px;
  margin: 0 auto;
}

.search-input-field {
  height: 52px;
  background-color: white;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid $primary-color;
}

.search-bar-button {
  border: none;
  color: black;
  background-color: transparent;
  position: absolute;
  right: 5px;
  bottom: 25%;
}

#recipe_name, #recipe_category, #recipe_preptime_hour, #recipe_preptime_mn, #recipe_description, #recipe_recipe_ingredients_attributes_0_quantity, #recipe_recipe_ingredients_attributes_0_ingredient_id {
  height: 52px;
  // width: 100%;
  background-color: white;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid $second-color;
  text-transform: capitalize;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
}

#recipe_photo {
  // width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid $second-color;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
}
